.text-header {
  padding: 10px;
}

.frame-header {
  padding: 40px;
  margin-top: 50px;
  background-color: rgba(128, 128, 128, 0.491);
}

.frame-body {
    margin-top: 50px;
    background-color: rgba(128, 128, 128, 0.491);
  }
  